*.csv
/venv/
.idea/.gitignore
.idea/codeStyles/
.idea/dbnavigator.xml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/odoo_import_scripts.iml
.idea/vcs.xml
.idea/
*.pyc
lib64
lib
include
share
bin
*/__pycache__
pyvenv.cfg
import_scripts.conf
